%header.header-container
  .header-content
    = image_tag "logo.png", { alt: "onShop" }
    %h1 Simplifique sua relação com os produtos.
    %p Encontre as informações mais relevantes dos produtos utilizando o onShop, deixamos de forma clara e objetiva tudo aquilo que você procura.
    %button
      ADICIONE AO CHROME
      %span é de graça
  .header-modal
    = image_tag "modal.png", { class: "modal", alt: "" }
    = image_tag "logo-large.png", { class: "bg", alt: "" }

%section.how-it-works
  %h2 Como funciona?
  %p Instale, acesse e não tenha mais dúvidas!
  .itens
    .item
      .icon 1
      %h3 Instale a extensão
      %p Instale através do botão adicionar ao chrome ou procure onshop na loja de extensões do google chrome.
    .item
      .icon 2
      %h3 Acesse algum produto
      %p Acesse o produto desejado nos principais marketplaces do mercado que nós entraremos em ação.
    .item
      .icon 3
      %h3 E deixe-nos te ajudar!
      %p Mostramos uma lista com as principais tópicos do produto. Ficou com dúvida? Pergunte ao onShop!

%section.marketplaces
  %h2 Nos principais marketplaces
  %p Acesse os principais marketplaces e ganhe 10% de cashback na finalização da compra para produtos venditos pela Olist.
  .logos
    %div
      = image_tag "marketplaces/1.png", { alt: "" }
      = image_tag "marketplaces/2.png", { alt: "" }
      = image_tag "marketplaces/3.png", { alt: "" }
      = image_tag "marketplaces/4.png", { alt: "" }
    %div
      = image_tag "marketplaces/5.png", { alt: "" }
      = image_tag "marketplaces/6.png", { alt: "" }
      = image_tag "marketplaces/7.png", { alt: "" }
      = image_tag "marketplaces/8.png", { alt: "" }

%section.simple
  %h2 Simplifique os detalhes
  %p Comece gratuitamente e descubra o que você pode conseguir com o poder da onShop ao seu alcance.
  %button
    ADICIONE AO CHROME
    %span é de graça

%footer.footer
  Desenvolvido por Olist
